<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Screen Share</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-confirm.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}?ver=2">
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-confirm.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/screen.js') }}?ver=3"></script>
</head>
<body ontouchstart="" class="homepage">
    <header id="header"></header>
    
    <section id="feature" class="fullwidth">
        <div class="container fullwidth">
            <div class="center fullwidth">
                <img src="" class="livescreen fullwidth">
            </div>
        </div>
    </section>
</body>
</html>
